<div class="d-flex align-items-center justify-content-center">
    <h1 id="out-message"> HEY this ROOT and works! </h1>
</div>

<div class="d-flex align-items-center justify-content-center">
  <%=button_to "Connect To Twitter", "/auth/twitter", method: :post, class: "btn btn-primary mt-4", data: {turbo: "false"} %>
</div>
